<div class="layout">
    <table class="table" data-table-limit="true">
        <thead>
            <tr>
                <th><span class="title">Departure</span></th>
                <th><span class="title">Destination</span></th>
                <th><span class="title">Platform</span></th>
                <th><span class="title">Status</span></th>
                <th><span class="title">Arrival</span></th>
            </tr>
        </thead>
        <tbody>
            {% for service in result.trainServices.service %}
            <tr>
                <td><span class="label">{{ service.std }}</span></td>
                <td><span class="label" data-clamp="1">{{ service.destination.location.locationName }}</span></td>
                <td><span class="label">{{ service.platform }}</span></td>
                <td>
                    <span class="label">
                        {% unless service.etd == "Cancelled" or service.etd == "On time" %}
                        Expected 
                        {% endunless %}
                        {{ service.etd }}
                    </span>
                </td>
                <td>
                    <span class="label">
                        {% assign destination = service.subsequentCallingPoints.callingPointList.callingPoint | where: "crs", service.filtercrs | first %}
                        {% if destination.et != "On time" %}
                        Est {{ destination.et }}
                        {% else %}
                        {{ destination.st }}
                        {% endif %}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="title_bar">
    <span class="title">From {{ result.locationName }} to {{ result.filterLocationName }}</span>
    <span class="instance">{{  result.generatedAt | date: "%H:%M on %d/%m/%y" }}</span>
</div>
